<%- include("head"); -%>
<div class="container">
  <h1>Individual Booking</h1>
  <p><b>ID:</b> <%=id%> </p>
  <p><b>Title:</b> <%=title%></p>
  <p><b>Description:</b> <%=description%></p>
  <p><b>Date:</b> <%=date%></p>
  <p><b>Author:</b> <%=author%></p>
  <a class="btn btn-primary"" href="/">Home</a>
</div>
</body>
</html>